In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import seaborn as sns

In [2]:
t1=pd.read_csv("phone_user_review_file_1.csv",low_memory=False)

In [3]:
t1.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

In [4]:
t1.shape

(374910, 11)

In [5]:
t2=pd.read_csv("phone_user_review_file_2.csv",low_memory=False)

In [6]:
t2.shape

(114925, 11)

In [7]:
t3=pd.read_csv("phone_user_review_file_3.csv",low_memory=False)

In [8]:
t3.shape

(312961, 11)

In [9]:
t4=pd.read_csv("phone_user_review_file_4.csv",low_memory=False)

In [10]:
t4.shape

(98284, 11)

In [11]:
t5=pd.read_csv("phone_user_review_file_5.csv",low_memory=False)

In [12]:
t5.shape

(350216, 11)

In [13]:
t6=pd.read_csv("phone_user_review_file_6.csv",low_memory=False)

In [14]:
t6.shape

(163837, 11)

In [15]:
t6.shape[0]+t5.shape[0]+t4.shape[0]+t3.shape[0]+t2.shape[0]+t1.shape[0]

1415133

In [16]:
data=pd.concat([t1,t2,t3,t4,t5,t6],ignore_index=True)

In [17]:
data.describe()

              score  score_max
count  1.351644e+06  1351644.0
mean   8.007060e+00       10.0
std    2.616121e+00        0.0
min    2.000000e-01       10.0
25%    7.200000e+00       10.0
50%    9.200000e+00       10.0
75%    1.000000e+01       10.0
max    1.000000e+01       10.0

Score_max seems to be an irrelevant feature and hence we can drop it.

In [18]:
data.columns

Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')

In [19]:
data.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

phone_url is also an irrelevant feature so we can go ahead and drop it.

In [20]:
data["lang"].is_unique

False

In [21]:
data["lang"].value_counts()

en    554746
ru    207443
de    176600
it    116120
es     99739
fr     95080
pt     67155
nl     38375
tr     28359
sv     17149
fi      6953
cs      2533
no      1918
he      1370
pl       493
da       418
hu       346
id       271
ja        33
zh        19
ar        12
ko         1
Name: lang, dtype: int64

In [22]:
round(data["score"],1) # Rounding of the decimal places.

0          10.0
1          10.0
2           6.0
3           9.2
4           4.0
           ...
1415128     2.0
1415129    10.0
1415130     2.0
1415131     8.0
1415132     2.0
Name: score, Length: 1415133, dtype: float64

In [23]:
data[data.isna()].sum()

phone_url      0
date           0
lang           0
country        0
source         0
domain         0
score        0.0
score_max    0.0
extract        0
author         0
product        0
dtype: object

In [24]:
data["domain"].value_counts() #Notice once invalid character here.

amazon.com          214776
amazon.de           132720
market.yandex.ru    123066
amazon.in           112880
amazon.it            89533
                     ...
officedepot.com          1
shopyourway.com          1
quelle.de                1
mightyape.co.nz          1
recenzje.net.pl          1
Name: domain, Length: 384, dtype: int64

In [25]:
data.dtypes

phone_url     object
date          object
lang          object
country       object
source        object
domain        object
score        float64
score_max    float64
extract       object
author        object
product       object
dtype: object

In [26]:
for each in data.columns:
    print(each," : ",data[each].isna().sum())

phone_url  :  0
date  :  0
lang  :  0
country  :  0
source  :  0
domain  :  0
score  :  63489
score_max  :  63489
extract  :  19361
author  :  63202
product  :  1

**Some Observations Worth Noting** 

If score is not given, then that particular entry is completely useless. We can't substitute it with zero, because that would be doing injustice to the product, and some genuine reviews. On top of that the actual review written in words might be completley speaking otherwise. There are other methods which can be used, like analyzing the words used and the user profile to understand if the rating is missing because of some data entry problem or is it some kind of incomplete or fake review that is unsuitable for analysis. But, here we don't have access to NLP kind of analysis, hence we don't opt for it.


If author field is not given, it might be irrelevant for a few types of recommendation systems, but for something like apriori or user-user collaborative recommendations it becomes important to identify. Moreoever it becomes really important to understand if the missing entry of the "author" is repeated elsewhere. If it is supposedly repeated, meaning that user has bought multiple items and hence, that would cause loss of valuable information regarding the user behaviour.

If extract is not given, then that particular entry might be useless if we are going to any kind of recommendation system other than that of popular recommendation settings. So, we have to take a decision to drop these appropriate entries when we are going for content based recommendation systems.

There are some expected types of entries into the particular column like for example, "source" is expected to be purely a string, but there might be some other entries other than alphabets and some serious characters. We can eliminate them. Country is strictly a string value, but we should check the same, and so that can be used to correct some entries with approximate entries with most matching ones.

We can create new columns out of old ones, like date here, which will help us in further analysis.

Two entries, Source and the website corresponding to that source both are redundant, hence we can simply drop the source column and retain domain column.

In [27]:
data[data.duplicated()]

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
342,/cellphones/samsung-galaxy-s8/,4/26/2017,nl,nl,Coolblue,coolblue.nl,9.6,10.0,Ik vind het tot nu toe een heel erg aangenaam ...,Stefanie Hinneman,Samsung Galaxy S8 Zwart
343,/cellphones/samsung-galaxy-s8/,4/26/2017,nl,nl,Coolblue,coolblue.nl,9.6,10.0,Ik vind het tot nu toe een heel erg aangenaam ...,Stefanie Hinneman,Samsung Galaxy S8 Zwart
371,/cellphones/samsung-galaxy-s8/,4/25/2017,nl,nl,Coolblue,coolblue.nl,9.6,10.0,Tot nu toe in de eerste dagen weinig tot geen ...,Robin Winckens,Samsung Galaxy S8 Zwart
452,/cellphones/samsung-galaxy-s8/,4/25/2017,nl,nl,Coolblue,coolblue.nl,10.0,10.0,Wat een huge scherm!,B Yapar,Samsung Galaxy S8 Zwart
3718,/cellphones/samsung-galaxy-s6-edgeplus/,10/4/2015,en,us,Amazon,amazon.com,10.0,10.0,"For readers, my opinions on this device (ATT 3...",FrozenCloud,"Samsung Galaxy S6 Edge+, Black 64GB (Verizon W..."
...,...,...,...,...,...,...,...,...,...,...,...
1398132,/cellphones/nokia-8850/,8/31/2010,ru,ru,Yandex,market.yandex.ru,10.0,10.0,"Просто отличный телефон, который приятно лежит...",NaN,Nokia 8850
1398134,/cellphones/nokia-8850/,6/25/2010,ru,ru,Yandex,market.yandex.ru,10.0,10.0,"За свои деньги, 1000 долларов которые он когда...",NaN,Nokia 8850
1410207,/cellphones/samsung-sgh-600/,4/30/2015,tr,tr,Cepworld,cepworld.com,NaN,NaN,varsa satan 05312614607,muhsin,Samsung (936) SGH-600
1411460,/cellphones/philips-genie-2000/,8/20/2000,it,it,Ciao,ciao.it,8.0,10.0,"Il Genie e' un buon telefono, scorrimente del ...",tonyblack,Philips Genie 2000
1412950,/cellphones/motorola-m3888/,12/11/2000,it,it,Ciao,ciao.it,10.0,10.0,E' un telefonino qualitativamente ottimo sopra...,NaN,Motorola M3888

There seems to be two kinds of duplicate entries here, one in which it might mean that review given on one domain might be different than another. Here we are blindly assuming that user doesn't have the same username across the domains, hence two users with same name but different domains will be treated as different users, even though the extract is exactly the same and product is also exactly the same.

The other review is the same user, same domain same product but either different rating or different extract. In that case, we have to consider the most recent extract and most recent rating. If there is a collision in terms of date, we have to consider the lowest rating (if there is a rating difference) or choose extract with most number of words (assuming that the user didn't write crappy reviews and the extract actually describes in detail the working of the project.)

# Proposition for Data Cleaning

Step 1. Drop any entries within the rows where the product under review is not mentioned. No matter what the URL is, which can change all the time, the product have to be there for us to take any decision. So, we will try to extract information about the missing product name from the URL. (there seems to be only one such entry here so no problems regarding that).

Step 2. Convert the datetime kind of format and check it out. If there are any exceptions while conversions they can be appropriately handled.


Step 3. Eliminate Duplicate entries by taking taking author names and trying to find out if they belong to the same domain, if so if they wrote multiple reviews for the same product. If so, check which review is the latest and take that review as the honest one and drop the other. If there is a date conflict, go for the rating, and choose the lowest rating. If the rating is in conflict too, then go for highest number of words in the extract column and choose for that particular entry and drop the others. We are going to exclusively deal with index vlaues here, so we have to be careful.

**Step 1**    : Checking for product columns missing values.

In [28]:
#Checking for Product NaN columns
temp=data["product"][data["product"].isna()].index
data.loc[temp]

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
802795,/cellphones/samsung-galaxy-s-iii/,1/22/2014,de,de,Amazon,amazon.de,10.0,10.0,Bestes Smartphone was ich bisher hatte :) öafk...,NaN,NaN

In [29]:
temp_url=data.loc[temp]["phone_url"]

In [30]:
for each_item in data["phone_url"]:
    if type(each_item)!=str:
        print(each_item)
#Looks like there is no columns which is not recognized as a string.

In [31]:
temp_url

802795    /cellphones/samsung-galaxy-s-iii/
Name: phone_url, dtype: object

In [32]:
import re

same_url_list=[]
for each_ind in data.index:
    k=re.search('/*/samsung-galaxy-s-iii/',data["phone_url"][each_ind])
    if k:
        same_url_list.append(each_ind)

In [33]:
data.loc[same_url_list].head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
794264,/cellphones/samsung-galaxy-s-iii/,10/6/2015,en,us,CNET,reviews.cnet.com,2.0,10.0,"After only six months, I'm having software iss...",rstidyman,Samsung Galaxy S III T-Mobile
794265,/cellphones/samsung-galaxy-s-iii/,5/6/2015,en,us,Phone Arena,phonearena.com,9.0,10.0,"This phone was great at the time of release, g...",chanpion01,Samsung Galaxy S III
794266,/cellphones/samsung-galaxy-s-iii/,9/9/2016,en,us,Samsung,samsung.com,9.2,10.0,Samsung products are awesome! Great quality. L...,Mnstrek4u,Samsung Galaxy S III 16GB (Straight Talk)
794267,/cellphones/samsung-galaxy-s-iii/,5/7/2017,en,us,Amazon,amazon.com,10.0,10.0,I love this phone. It does everything I need i...,Marisa Spagnuolo,"Samsung Galaxy S3, Red (AT&T)"
794268,/cellphones/samsung-galaxy-s-iii/,2/17/2016,en,us,Newegg,newegg.com,8.0,10.0,this is probably the best phone you can get if...,Anonymous,SAMSUNG Galaxy S III SGH-i747 Blue 3G 4G LTE D...

In [34]:
data.loc[same_url_list].count()

phone_url    17093
date         17093
lang         17093
country      17093
source       17093
domain       17093
score        14463
score_max    14463
extract      17002
author       16882
product      17092
dtype: int64

Looks like we can substitute one of the enties into the product column since it looks perfectly fine except the author missing column.

In [35]:
#Now let us replace the product column of that particular entry in the dataframe with approrpoiate mechanism.

data.loc[temp]["product"]=data.loc[same_url_list].head().iloc[1]["product"]

We can generalize this whole thing and go ahead, but let us restrict ourselves to this particular case where I randomly picked the product name. **Assuming that there are no vairations for within the product.** . Hopefully that will stay the way, even though we have grabbed it from different domain and different user.

**Step 2**   : Converting to the Date-Time Timeline for analysis.

In [36]:
#Converting the Date columns to a much more feasilbe format.
data["date"]=pd.to_datetime(data["date"], infer_datetime_format=True)

In [37]:
data["date"]

0         2017-05-02
1         2017-04-28
2         2017-05-04
3         2017-05-02
4         2017-05-11
             ...
1415128   2000-05-12
1415129   2000-05-11
1415130   2000-05-04
1415131   2000-05-01
1415132   2000-04-25
Name: date, Length: 1415133, dtype: datetime64[ns]

In [38]:
data["date"].loc[1415128].month
#Small demonstration of the effect.

5

In [39]:
duplicate_entries=data[data.duplicated(subset=["author","product"],keep=False)].index
data.loc[duplicate_entries]

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
66,/cellphones/samsung-galaxy-s8/,2017-05-06,en,gb,Very,very.co.uk,10.0,10.0,This phone is amazing screen isnt as big as th...,James,"Samsung Galaxy S8, 64Gb - Orchid Grey"
106,/cellphones/samsung-galaxy-s8/,2017-05-05,en,gb,Very,very.co.uk,10.0,10.0,Pre ordered and received early. Amazing phone ...,James,"Samsung Galaxy S8, 64Gb - Orchid Grey"
244,/cellphones/samsung-galaxy-s8/,2017-05-06,nl,nl,Coolblue,coolblue.nl,10.0,10.0,In een woord geweldig!!!!,John van der Made,Samsung Galaxy S8 Zwart
270,/cellphones/samsung-galaxy-s8/,2017-05-04,cs,cz,CZC,czc.cz,10.0,10.0,"Rozhodně nejlepší smartphone pro rok 2017, vyt...",NaN,"Samsung Galaxy S8, 64GB, černá"
278,/cellphones/samsung-galaxy-s8/,2017-05-03,nl,nl,Coolblue,coolblue.nl,10.0,10.0,Geen woorden voor. ZoÃ¶loog geweldig.,John van der Made,Samsung Galaxy S8 Zwart
...,...,...,...,...,...,...,...,...,...,...,...
1414907,/cellphones/ericsson-gf-768/,2000-07-12,en,gb,Dooyoo,dooyoo.co.uk,2.0,10.0,"The Telephone of new generation. Stylish, grac...",anonym,Ericsson GF 768
1415002,/cellphones/ericsson-pf-768/,2000-01-28,de,de,Dooyoo,dooyoo.de,6.0,10.0,Aufmerksamkeit erregt das PF 768 mit seinen kr...,NaN,Ericsson PF768
1415004,/cellphones/ericsson-pf-768/,2000-01-13,de,de,Dooyoo,dooyoo.de,8.0,10.0,Aufmerksamkeit erregt das PF 768 mit seinen kr...,NaN,Ericsson PF768
1415130,/cellphones/alcatel-ot-club_1187/,2000-05-04,de,de,Ciao,ciao.de,2.0,10.0,"Jetzt hat wohl Alcatell gedacht ,sie machen wa...",michaelawr,Alcatel Club Plus Handy
1415132,/cellphones/alcatel-ot-club_1187/,2000-04-25,de,de,Ciao,ciao.de,2.0,10.0,"Was sich Alkatel hier wieder ausgedacht hat,sc...",michaelawr,Alcatel Club Plus Handy

In [40]:
import itertools
temp=[]
domains=data["domain"].values
duplicate_entries_df=data.loc[duplicate_entries]
###########################################################################
###########################################################################
for domain_name in domains:
    dom=duplicate_entries_df[duplicate_entries_df["domain"]==domain_name]
    print(domain_name)
    for ind1,ind2 in itertools.combinations(dom.index,2):
        if dom.loc[ind1]["author"]==dom.loc[ind2]["author"]:
            if dom.loc[ind1]["product"]==dom.loc[ind2]["product"]:
                if dom["date"].loc[ind1].year>dom["date"].loc[ind2].year:
                    temp.append(ind1)
                    continue
                elif dom["date"].loc[ind1].year<dom["date"].loc[ind2].year:
                    temp.append(ind2)
                    continue
                elif dom["date"].loc[ind1].month>dom["date"].loc[ind2].month:
                    temp.append(ind1)
                    continue
                elif dom["date"].loc[ind1].month<dom["date"].loc[ind2].month:
                    temp.append(ind2)
                    continue
                if dom["date"].loc[ind1].day>dom["date"].loc[ind2].day:
                    temp.append(ind1)
                    continue
                elif dom["date"].loc[ind1].day<dom["date"].loc[ind2].day:
                    temp.append(ind2)
                    continue
                else:
                    temp.append(ind1)
########################################################################
########################################################################

KeyboardInterrupt:

In [ ]:
temp

In [ ]:
print(data["domain"].values)